body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.box_wrap {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* justify-content: flex-end; */
  /* justify-content: flex-start; */
  /* justify-content: space-between; */
  height: 600px;
  background-color: #bbbbbb;
  /* align-items: center; */
  /* align-items: flex-start; */
  align-items: flex-end;
  align-content: flex-start;
}
.box {
  width: 33.3333%;
  height: 50px;
  background-color: #5a5a5a;
  /* margin-left: 2px; */
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}
